extends ../inc/_layout
block vars
    -var $dir = './../'
    -var title = 'Home'
    -var pageid = '1'
block content
    .content.container
        .register
            .title
                h1 Tạo tài khoản
                .sub-title
                    | Bạn đã là thành viên?
                    a(href="#login")  đăng nhập
                    |  tại đây.
            .alert.alert-error
            form.clear
                .col-6
                    .form-group
                        label(for="phone") Số điện thoại*
                        input(type="text", placeholder="Nhập số điện thoại của bạn")#phone
                    .form-group
                        label(for="pass") Mật khẩu*
                        input(type="password", placeholder="Tối thiểu 6 kí tự")#pass
                    .form-group.flex
                        .birthday
                            label Ngày sinh
                            .flex
                                .birthday-item#day
                                    span Ngày
                                    .birthday-child
                                .birthday-item#month
                                    span Tháng
                                    .birthday-child
                                .birthday-item#year
                                    span Năm
                                    .birthday-child
                        .gender
                            label Giới tính
                            .gender-item
                                span#gender Chọn
                                .gender-child
                                    p Nam
                                    p Nữ
                .col-6(style="padding-left:15px")
                    .form-group
                        label(for="name") Tên*
                        input(type="text", placeholder="Nhập tên của bạn")#name
                    .form-group
                        label(for="email") Địa chỉ email*
                        input(type="email", placeholder="Vui lòng nhập địa chỉ email của bạn")#email
                    .form-group
                        label
                            | Tôi đồng ý với
                            a(href="/chinh-sach")  Chính sách
                            |  bảo mật.
                        input(type="submit", value="Đăng kí")



block js
    script.
        $(window).on('load', function () {
            if (getCookie('login')) {
                var login = getCookie('login').split(',');
                var docUser = db.collection('users').doc(login[0]);
                docUser.get().then(function (doc) {
                    if (doc.exists) {
                        if (login[1] == doc.data().pass) {
                            window.location.href = '/';
                        }
                    }
                });
            }
        });
        function pushDate(id,max,text,min) {
            if(min){
                var year = new Date().getFullYear();
                for (var i = year; i >= year - min; i--) {
                    var month = "";
                    month += "    <p>" + text + i + "<\/p>";
                    $(id).find('.birthday-child').append(month);

                }
            } else {
                for (var i = 1; i <= max; i++) {
                    var month = "";
                    month += "    <p>" + text + i + "<\/p>";
                    $(id).find('.birthday-child').append(month);

                }
            }

        }
        pushDate('#month',12, 'Tháng ');
        pushDate('#day',31, '');
        pushDate('#year',0,'',99);

        function selector(container, item) {
            $(document).on('click', function () {
                $('.gender-child,.birthday-child').slideUp(400);
            });
            $(container).click(function (event) {
                event.stopPropagation();
                $(this).find(item).slideToggle(400, function () {
                    $(this).find('p').click(function () {
                        $(this).parent().parent().find('span').text($(this).text());
                    });
                });
            });
        }
        selector('.gender-item', '.gender-child');
        selector('.birthday-item', '.birthday-child');
        $('#phone, #pass, #name, #email').click(function () {
            if ($(this).val() == '') {
                $(this).css('border-color', '#fb816a');
            } else {
                $(this).css('border-color', '#fff');
            }
            $(this).change(function () {
                if ($(this).val() == '') {
                    $(this).css('border-color', '#fb816a');
                } else {
                    $(this).css('border-color', '#fff');
                }
            });
        });
